---
import Hero from '../components/Hero.astro';
import MenuCard from '../components/MenuCard.astro';
import MapCard from '../components/MapCard.astro';
---

<html lang="es">
  <head>
    <title>Cena Bosque Mágico</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background-color: #1F1F20;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <Hero />
    <main>
      <MenuCard />
      <MapCard />
    </main>
  </body>
</html>
