---
const confirmUrl = "https://api.whatsapp.com/send?phone=524771061137&text=Confirmo%20mi%20asistencia%20a%20la%20cena%20mi%20nombre%20es:";
---

<section class="hero">
  <div class="hero-content">
    <h1>Cena Bosque Mágico</h1>
    <p>Una experiencia culinaria única en un entorno encantado</p>
    <p>10 de octubre de 2024</p>
    <a href={confirmUrl} class="btn-confirm">Confirmar asistencia aquí!</a>

  </div>
</section>

<style>
  .hero {
    background-image: url('/public/fondo.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }

  .hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
  }

  .btn-confirm {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
      }

      .btn-confirm:hover {
        background-color: #45a049;
      }

      @media (min-width: 768px) {
        .btn-confirm {
          font-size: 1.1rem;
          padding: 12px 24px;
        }
      }
      
  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
</style>
