---
const { number = 20 } = Astro.props;
---

<div class="absolute inset-0 h-full w-full">
  {[...Array(number)].map((_, i) => (
    <span
      class="meteor absolute top-1/2 left-1/2 h-0.5 rounded-[9999px] bg-slate-300"
      style={{
        top: '0px',
        left: `${Math.floor(Math.random() * 100)}%`,
        animationDelay: `${Math.random() * (0.8 - 0.2) + 0.2}s`,
        animationDuration: `${Math.floor(Math.random() * (10 - 2) + 2)}s`,
      }}
    ></span>
  ))}
</div>

<style>
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      width: 30px;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-300px);
      width: 100px;
      opacity: 0;
    }
  }
  .meteor {
    animation: meteor linear infinite;
  }
  .meteor::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 1px;
    background: linear-gradient(90deg, #cbd5e1, transparent);
  }
</style>